@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2A2242; /* Deep Purple */
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Scrollbar disesuaikan dengan tema ungu */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #2A2242;
}
::-webkit-scrollbar-thumb {
  background: #914150; /* Accent Red */
  border-radius: 5px;
  border: 2px solid #2A2242;
}
@media (min-width: 1024px) and (max-height: 800px) {
  body {
    zoom: 0.87; /* Mengecilkan seluruh web jadi 85% */
  }
}